<div class="container">
    <div class="row">
        <div class="col s12 section">
            <h1>Predict Cluster Label</h1>
        </div>
        <div class="col s12 section">
            <p><b>Pipeline: {{vm3.pipeline.name}}</b></p>
            <br>
        </div>
        <div class="col s12 section">
            <div class="row">
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="textToClassify"
                              ng-model="vm3.textToClassify"></textarea>
                </div>
            </div>
            <div class="row">
                <div ng-if='vm3.textToClassify !== ""'>
                    <button type="button" class="btn btn-primary" ng-click="vm3.clusterDocument()">Get Cluster Label
                    </button>
                </div>
            </div>
        </div>
        <div class="col s12 section">
            <div ng-if="vm3.isPredicting === true" class="row">
                Please wait! The system is predicting the label!
            </div>
            <div ng-if="vm3.showResults" class="row">
                <b>Predicted label: {{vm3.documents[0].cluster_label}}</b>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-if="vm3.documents">
        <table class="striped bordered">
            <thead>
            <tr>
                <th>DOC Id</th>
                <th>Document</th>
                <th>Cosine Similarity</th>
                <th>Jaccard Similarity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="document in vm3.documents">
                <td> {{document.DOC_ID}} </td>
                <td> {{document.document}} </td>
                <td> {{document.cosinesimilarity}} </td>
                <td> {{document.jaccardsimilarity}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

